* {
  padding: 0px 0px;
  margin: 0px 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #f2e7d5;
}

.display-wrapper {
  display: flex;
  justify-content: center;
}

.display {
  height: 350px;
  width: 100%;
  margin: 16px;
  border: solid 4px #008080;
  border-radius: 8px;
  padding: 4px;
  box-sizing: border-box;

  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  overflow: hidden;
}

.rectangle {
  width: 96px;
  height: 96px;
  background-color: #006666;
}

.checkbox-wrapper {
  width: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.display-control {
  margin: 16px;
  padding: 4px;
  border: solid 4px #008080;
  border-radius: 8px;
}

.flex-control {
  margin: 16px;

  display: flex;
  flex-direction: row;
  gap: 8px;
}

.justify-content,
.align-items,
.flex-direction,
.flex-wrap {
  width: auto;
  border: solid 4px #008080;
  border-radius: 8px;
  padding: 4px;

  flex-grow: 1;
}

h2 {
  display: flex;
  justify-content: center;
}

hr {
  margin: 2px;
}

label {
  font-weight: 400;
}

input[type='radio'] {
  accent-color: #006666;
  background-color: #ffefd6;
}

input[type='radio']:disabled {
  accent-color: #006666;
  background-color: #ffefd6;
}

input[type='number'] {
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #ffefd6;
  border: solid 2px #006666;
  border-radius: 4px;
  padding: 2px;
  width: 125px;
}

@media screen and (max-width: 91vh) {
  .display {
    height: 200px;
    margin: 8px;
  }

  .rectangle {
    width: 48px;
    height: 48px;
  }

  .display-control {
    margin: 8px;
  }

  .flex-control {
    margin: 8px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  input[type='number'] {
    width: 75px;
  }
}
